.recipe{
    max-width: 500px;
    min-width: 500px;
}

.recipe img{
    width: 100%;
    height: auto;

    
}

.recipe button a{
    text-decoration: none;
}

.recipe button a:visited{
    text-decoration: none;
}